<!DOCTYPE html>
<html lang="{{ page.lang }}">
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
		<link rel="stylesheet" href="/css/reset.css" 		type="text/css" />
		<link rel="stylesheet" href="/css/theme.css" 		type="text/css" />
		<link rel="stylesheet" href="/css/pygments.css" 		type="text/css" />
        {{ page.meta }}
	</head>
	<body>
        <div id="header">
            {% if page.lang == "ja" %}
            <div class="ja">
                <a href="/core"><span class="tweenxcore">TweenX<span class="core">Core</span></span></a> |
                <a href="/">TweenX</a> |
                <a href="/core/custom">イージングエディタ</a> |
                <a href="https://github.com/shohei909/tweenx">Github</a> |
                <a href="/core/api">API</a>
            </div>
            {% else %}
            <div class="en">
                <a href="/core/en.html"><span class="tweenxcore">TweenX<span class="core">Core</span></span></a> |
                <a href="/en.html">TweenX</a> |
                <a href="/core/custom">Easing Editor</a> |
                <a href="https://github.com/shohei909/tweenx">Github</a> |
                <a href="/core/api">API</a>
            </div>
            {% endif %}
        </div>
		<div id="article">
			{{content}}
        </div>
	</body>
</html>
