<!DOCTYPE html>
<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
		<link rel="stylesheet" href="/css/reset.css" 		type="text/css" />
		<link rel="stylesheet" href="/css/bootstrap.min.css" 		type="text/css" />
		<link rel="stylesheet" href="/css/theme.css" 		type="text/css" />
		<link rel="stylesheet" href="/css/pygments.css" 		type="text/css" />
		<link rel="stylesheet" href="/css/easing_editor.css" 		type="text/css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-with-addons.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.min.js"></script>
    </head>
	<body>
        <div id="header">
            <div class="ja" hidden>
                <a href="/core"><span class="tweenxcore">TweenX<span class="core">Core</span></span></a> |
                <a href="/">TweenX</a> |
                <a href="/core/custom">イージングエディタ</a> |
                <a href="https://github.com/shohei909/tweenx">Github</a> |
                <a href="/api">API</a>
            </div>
            <div class="en">
                <a href="/core/en.html"><span class="tweenxcore">TweenX<span class="core">Core</span></span></a> |
                <a href="/en.html">TweenX</a> |
                <a href="/core/custom">Easing Editor</a> |
                <a href="https://github.com/shohei909/tweenx">Github</a> |
                <a href="/api">API</a>
            </div>
        </div>
		<div id="tool">
			{{content}}
		</div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	</body>
</html>
